body {
    margin: 0%;
    border: 0%; 
    background-image: url(./CSS/backgroundblack.jpg);
     background-size: cover;
     overflow-x: hidden ;}
    a {
        color: white;}

    .navuno {
        display: inline;
        position: relative;
        left: 23cm; }
    
    .navdos {
        display: inline;
        position: relative;
        left: 24cm; }
    
    .navtres {
        display: inline;
         position: relative;
         width: 10cm;
         left: 25cm; }
    
    .navcuatro {
        display: inline;
        position: relative;
        left: 26cm ;}
    

    .fertil {
        position: absolute;
        background-color: blue;
        background-image: url(./CSS/studio.png);
        background-size: cover;
        width: 199vh;
        height: 75vh;
        bottom: 17vh;
        top: 6vh;
        padding: 5%;
        left: -8vh;}

     h1 {
        color: darkgoldenrod;
         position: absolute;
        font-display: initial;
        top: 105vh;
        left: 55vh;
        font-family: 'Roboto', sans-serif;}
        
    h2 {
            color: white;
            position: absolute;
        font-display: initial;
        top: 115vh;
        left: 61vh;
        font-family: 'Roboto', sans-serif;}
        
    h3 { color: white;
            position: absolute;
        font-display: initial;
        top: 125vh;
        left: 74vh;
        font-family: 'Roboto', sans-serif;}

    .ML {
        position: absolute;
        width: 70vh;
        top: 140vh; left: 28vh; }
    .MC {
        position: absolute;
        top: 140vh; 
        left: 116vh;}
    .NM {
         position: absolute;
         top: 190vh; 
         left: 72.7vh;
         margin: 0cm}

    .SAF {   position: absolute;
             top: 240vh; 
             left: 28.2vh;
             margin: 0cm }

    .SAP {  position: absolute;
             top: 240vh; 
             left: 118.4vh;
             margin: 0cm;}

    .Texto {
        position: absolute;
        top: 165vh;
        width: 240vh;
        left: -44vh;}
    
    .cineclub {
            width: 40cm;
            height: 30cm;
             position: absolute;
             top: 240vh; 
             left: -9vh;
             margin: 0cm;}

    .iniciarsesionb {
        position: absolute;
        top: 370vh;
        left: 65vh; }

    .username {
        position: absolute;
        top: 205vh;
        left: 80vh;
        border: 0%;
        margin: 0%;  display: inline;  }
        
    .usernametexto {
        position: absolute;
        top: 210vh;
        left: 16vh; 
        padding: 0%; margin: 0%;}

    .contratexto {
        position: absolute;
        top: 210vh;
        left: 80vh; }

    .Boton01 {
        position: absolute;
        top: 215vh;
        left: 89vh;  }

   .registrarseb {
        position: absolute;
        top: 240vh;
        left: 49.2vh; }

    
    .nombre {
        position: absolute;
        top: 280vh;
        left: 61vh; }

    .Apellido {
        position: absolute;
        top: 285vh;
        left: 61vh; }

    .edad {
        position: absolute;
        top: 279.8vh;
        left: 100vh;}

    .email {
        position: absolute;
        top: 285vh;
        left: 100vh; }

    .contra02 {
        position: absolute;
        top: 295vh;
        left: 61vh;}
    
    .boton02 {
        position: absolute;
        top: 295vh;
        left: 105vh;}

    @media (max-width: 768px)  {
     
          body {
            overflow-x: hidden;
          }

          .fertil {
            position: absolute;
            background-image: url(./CSS/studio.png);
            left: 5vh;
        }

       
            
    .navuno {
        display: inline;
        position: relative;
        left: 23cm; }
    
    .navdos {
        display: inline;
        position: relative;
        left: 24cm; }
    
    .navtres {
        display: inline;
         position: relative;
         width: 10cm;
         left: 25cm; }
    
    .navcuatro {
        display: inline;
        position: relative;
        left: 26cm ;}
    

    .fertil {
        position: absolute;
        background-color: blue;
        background-image: url(./CSS/studio.png);
        background-size: cover;
        width: 199vh;
        height: 75vh;
        bottom: 17vh;
        top: 6vh;
        padding: 5%;
        left: -8vh;}

     h1 {
        color: darkgoldenrod;
         position: absolute;
        font-display: initial;
        top: 105vh;
        left: 55vh;
        font-family: 'Roboto', sans-serif;}
        
    h2 {
            color: white;
            position: absolute;
        font-display: initial;
        top: 115vh;
        left: 61vh;
        font-family: 'Roboto', sans-serif;}
        
    h3 { color: white;
            position: absolute;
        font-display: initial;
        top: 125vh;
        left: 74vh;
        font-family: 'Roboto', sans-serif;}

    .ML {
        position: absolute;
        width: 70vh;
        top: 140vh; left: 28vh; }
    .MC {
        position: absolute;
        top: 140vh; 
        left: 116vh;}
    .NM {
         position: absolute;
         top: 190vh; 
         left: 72.7vh;
         margin: 0cm}

    .SAF {   position: absolute;
             top: 240vh; 
             left: 28.2vh;
             margin: 0cm }

    .SAP {  position: absolute;
             top: 240vh; 
             left: 118.4vh;
             margin: 0cm;}

    .Texto {
        position: absolute;
        top: 165vh;
        width: 240vh;
        left: -44vh;}
    
    .cineclub {
            width: 40cm;
            height: 30cm;
             position: absolute;
             top: 240vh; 
             left: -9vh;
             margin: 0cm;}

    .iniciarsesionb {
        position: absolute;
        top: 370vh;
        left: 65vh; }

    .username {
        position: absolute;
        top: 205vh;
        left: 80vh;
        border: 0%;
        margin: 0%;  display: inline;  }
        
    .usernametexto {
        position: absolute;
        top: 210vh;
        left: 16vh; 
        padding: 0%; margin: 0%;}

    .contratexto {
        position: absolute;
        top: 210vh;
        left: 80vh; }

    .Boton01 {
        position: absolute;
        top: 215vh;
        left: 89vh;  }

   .registrarseb {
        position: absolute;
        top: 240vh;
        left: 49.2vh; }

    
    .nombre {
        position: absolute;
        top: 280vh;
        left: 61vh; }

    .Apellido {
        position: absolute;
        top: 285vh;
        left: 61vh; }

    .edad {
        position: absolute;
        top: 279.8vh;
        left: 100vh;}

    .email {
        position: absolute;
        top: 285vh;
        left: 100vh; }

    .contra02 {
        position: absolute;
        top: 295vh;
        left: 61vh;}
    
    .boton02 {
        position: absolute;
        top: 295vh;
        left: 105vh;}
        }
    
    



@media  (max-width: 580px) {

    body {
        overflow-x: hidden;
    }

    .fertil {
        
        position: absolute;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url(./CSS/studio.png);
        background-size: 400px;
        border-image: round;
        border-radius: 10%;
        width: 63vh;
        height: 40vh;
        bottom: 17vh;
        top: 10vh;
        padding: 5%;
        left: -6vh;}
        
.navuno {
    display: inline;
    position: relative;
    left: 0.2cm; }

.navdos {
    display: inline;
    position: relative;

    left: 0.5cm; }

.navtres {
    display: inline;
     position: relative;;
     left: 1cm;
    top: 0vh; }

.navcuatro {
    display: inline;
    position: relative;
    top: -0vh;
    left: 1.5cm;
    }

a {
    font-size: 2vh;}

    h1 {
        color: darkgoldenrod;
         position: absolute;
        font-display: initial;
        font-size: 1.5vh;
        top: 40vh;
        left: 11vh;
        font-family: 'Roboto', sans-serif;}
        
    h2 {
         color: white;
        position: absolute;
        font-display: initial;
        font-size: 1.5vh;
        top: 45vh;
        left: 14vh;
        font-family: 'Roboto', sans-serif;}
        
    h3 { color: white;
            position: absolute;
        font-display: initial;
        font-size: 1.5vh;
        top: 50vh;
        left: 15vh;
        font-family: 'Roboto', sans-serif;}

     img {
        width: 50vh;
     }
       
        
    .ML {
        position: absolute;
        width: 200vh;

        top: 70vh; left: 8.5vh;  }
    .MC {
        position: absolute;
        top: 100vh; 
        left: 8.5vh;}
    .NM {
         position: absolute;
         top: 130vh; 
         left: 8.5vh;
         margin: 0cm}

    .SAF {   position: absolute;
             top: 160vh; 
             left: 8.5vh;
             margin: 0cm }

    .SAP {  position: absolute;
             top: 190vh; 
             left: 8.5vh;
             margin: 0cm;}

     .Texto {
             position: absolute;
             top: 180vh;
             width: 60vh;
             left: -3vh;}
                
    .cineclub {
        width: 6.5cm;
         position: absolute;
         font-size: 4vh;
         top: 210vh; 
         left: 7vh;
         margin: 0cm;}

.iniciarsesionb {
    position: absolute;  
    top: 260vh;
    left: 8.5vh; }

.username {
    position: absolute;
    top: 30vh;
    left: 11vh;
    border: 0%;
    margin: 0%;  display: inline;  }
    
.usernametexto {
    position: absolute;
    top: 255vh;
    left: 8vh; 
    padding: 0%; margin: 0%;}

.contratexto {
    position: absolute;
    
    top: 35vh;
    left: 11vh; }

.Boton01 {
    position: absolute;
    top: 215vh;
    left: 89vh;  }

.registrarseb {
    position: absolute;
    top: 50vh;
    left: 0vh; }


.nombre {

    position: absolute;
    width: 2vh; height: 2vh;
    top: 70vh;
    left: 1vh; }

.Apellido {
    position: absolute;
    top: 80vh;
    left: 1vh; }

.edad {
    position: absolute;
    top: 90vh;
    left: 1vh;}

.email {
    position: absolute;
    top: 295vh;
    left: 100vh; }

.contra02 {
    position: absolute;
    top: 300vh;
    left: 61vh;}

.boton02 {
    position: absolute;
    top: 301vh;
    left: 105vh;}


}





    

